body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
  font-weight: 800;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button.confirm {
  background-color:green;
  color: white;
  font-size: bold;
}

.text .child {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 800;
}

div .child {
  color:black;
  font-weight: 800;
  font-size: 14;
}

div .text {
  color: black;
  font-weight: 100;
  font-size: 22px;
}
